$dark-text-color: #405999;
$light-text-color: #017DC5;
$main-text-color:#000000;
$bg-color: #E5E5E5;;
$holder-bg-color: #F7F9FD;
$nav-bg-color:#13233C;
$bg-blocks: #13233C;
$white-text-color: #FFF;
